doctype html
html(lang="en")
#wrapper.glyphicon-collapse-up
    .zopo
    section
        article
            span(id='title',class='mozOpacity',data-action='123456').
                Hello How are yop oiiopi kl;kl k;lkl;k gyurasd hgjhggj gaslkdhjklhj!!!!!.