doctype html
html(lang="en")
head
    link(type='text/css', href='bootstrap.min.css', rel='styleSheet')
    link(type='text/css', href='style.css', rel='styleSheet')
body
    .container
        .row
            .col-md-12 Header
    .holder
        .container
            .row
                .col-md-12 Slider here
    .container
        .row
            .col-md-8
                include includes/_posts
            .col-md-4
                include includes/_sidebar
    .holder
        .container
            .row
                .col-md-12 Footer
